/* Font : fira-sans */
.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

/* nav-bar related styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:24px 160px;
  padding: 10px 20px;
}
.nav-title {
  color: #0e0e0e;
  font-size: 32px;
  font-weight: 700;
}

.sign-in-btn {
  color: #006a50;
  width: 116px;
  height: 52px;
  padding: 15px 30px;
  background-color: white;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
}

.sign-in-btn:hover {
  background-color: #dddcdc;
}
