/* Font : fira-sans */
.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

/* shared styles */
.common-titles {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
}
/* nav-bar related styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 31px 102px;
  padding: 10px 20px;
}
.nav-title {
  color: #0e0e0e;
  font-size: 32px;
  font-weight: 700;
}

.sign-in-btn {
  color: #006a50;
  width: 116px;
  height: 52px;
  padding: 15px 30px;
  background-color: white;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  cursor: pointer;
}

.sign-in-btn:hover {
  background-color: #dddcdc;
}

/* banner or hero section related styles */

.banner {
  display: flex;
  width: auto;
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding: 60px 50px;
  border-radius: 24px;
  margin: 0px 120px 80px 120px;
  background: rgb(198, 228, 214);
  gap: 64px;
}

.banner-image {
  width: 470px;
  height: 400px;
}

.banner-title {
  font-size: 18px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.5);
  text-align: left;
  padding-left: 0px;
}

.banner-description {
  font-size: 40px;
  font-weight: 700;
  color: rgb(14, 14, 14);
  margin-top: 16px;
}

.btn-primary {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  padding: 12px 24px;
  margin-top: 24px;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background: rgb(6, 235, 178);
  color: #8d8888;
}

/* Future vision section related styles */
.vision-section {
  text-align: left;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0px 85px;
}

.vision-section h1 {
  font-size: 40px;
  font-weight: 700;
  color: rgb(14, 14, 14);
  margin-bottom: 20px;
}

.vision-section p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 40px;
}

.vision-cards {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.vision-card {
  background-color: #fff;
  border-radius: 16px;
  padding: 20px;
  max-width: 350px;
  text-align: left;
  flex: 1;
}

.vision-card img {
  width: 50px;
  margin-bottom: 15px;
}

.vision-card h2 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.vision-card p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.vision-card button {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  border: none;
  padding: 11px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.vision-card button:hover {
  background-color: #0056b3;
}

.vision-card.blue {
  background: rgba(84, 144, 245, 0.2);
}

.vision-card.green {
  background: rgb(198, 228, 214);
}

.vision-card.yellow {
  background: rgb(247, 235, 207);
}

.vision-card.blue button {
  background: rgb(84, 144, 245);
}

.vision-card.green button {
  background: rgb(9, 161, 92);
}

.vision-card.yellow button {
  background: rgb(255, 194, 57);
}
.vision-card.blue button:hover {
  background: rgb(122, 154, 208);
}

.vision-card.green button:hover {
  background: rgb(70, 190, 136);
}

.vision-card.yellow button:hover {
  background: rgb(202, 170, 93);
}

/* Recent-news related styles */

.news-section {
  max-width: 1200px;
  margin: 0px 85px;
  padding: 40px 20px;
  text-align: left;
}

.news-section h1 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.news-section p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
}

.news-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  padding: 48px;
  border-radius: 24px;
  background: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.news-card:nth-child(even) {
  flex-direction: row-reverse;
}

.news-image img {
  width: 400px;
  border-radius: 24px;
}

.news-content {
  flex: 1;
  text-align: left;
}

.news-content h2 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 32px;
  font-weight: 700;
  text-align: left;
}

.news-meta img {
  width: 130px;
}

.news-meta p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.news-content p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 20px;
}

.news-content button {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  border: none;
  padding: 13px 26px;
  cursor: pointer;
}

.news-content button:hover {
  background-color: #42a85a;
}

/* Donate section related styles */

.donate-section {
  max-width: 1200px;
  margin: 0px 105px;
  padding: 10px 80px;
  text-align: center;
  border-radius: 10px;
}

.donate-section h1 {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.donate-section p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}

.donation-options {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 20px;
}

.donation-amount {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  padding: 40px 50px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
  color: rgba(14, 14, 14, 0.8);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.donation-amount.active {
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(198, 228, 214);
}

.donation-amount:hover {
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(198, 228, 214);
}

.custom-amount {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  border: none;
  background: rgb(255, 255, 255);
  width: 85%;
  padding: 18px 36px;
  border-radius: 5px;
  margin: 20px 0px;
}

.donate-btn {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  border: none;
  padding: 13px 26px;
  cursor: pointer;
}

.donate-btn:hover {
  background-color: #42a85a;
}

/* footer related styles */

.footer {
  text-align: center;
  padding: 20px;
  background: rgb(255, 255, 255);
  margin-top: 30px;
}

.footer-title {
  color: rgb(14, 14, 14);
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.footer-divider {
  width: 70%;
  margin: 32px auto;
  border-top: 1px solid rgba(14, 14, 14, 0.1);
}

.social-icons {
  margin: 10px auto;
}

.social-link {
  margin: 0 20px;
}
