/* Font : fira-sans */
.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.common-titles {
  font-size: 40px;
  font-weight: 700;
  color: #0e0e0e;
}
/* nav-bar related styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 31px 102px;
  padding: 10px 20px;
}
.nav-title {
  color: #0e0e0e;
  font-size: 32px;
  font-weight: 700;
}

.sign-in-btn {
  color: #006a50;
  width: 116px;
  height: 52px;
  padding: 15px 30px;
  background-color: white;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  cursor: pointer;
}

.sign-in-btn:hover {
  background-color: #dddcdc;
}

/* banner or hero section related styles */

.banner {
  display: flex;
  width: auto;
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding: 60px 50px;
  border-radius: 24px;
  margin: 0px 120px 80px 120px;
  background: rgb(198, 228, 214);
  gap: 64px;
}

.banner-image {
  width: 470px;
  height: 400px;
}

.banner-title {
  font-size: 18px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.5);
  text-align: left;
  padding-left: 0px;
}

.banner-description {
  font-size: 40px;
  font-weight: 700;
  color: rgb(14, 14, 14);
  margin-top: 16px;
}

.btn-primary {
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  padding: 12px 24px;
  margin-top: 24px;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background: rgb(6, 235, 178);
  color: #8d8888;
}

/* Future vision section related styles */
.future-vision {
  margin: 30px 120px;
}

.visions {
  display: flex;
  gap: 24px;
  margin-top: 25px;
}

.future-vision-description {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  margin: 12px 0px;
}

.vision-1 {
  border-radius: 16px;
  background: rgba(84, 144, 245, 0.2);
  padding:22px;
}

.vision-2 {
  border-radius: 16px;
  background: rgb(198, 228, 214);
  padding:22px;
}

.vision-3 {
  border-radius: 16px;
  background: rgb(247, 235, 207);
  padding:22px;
}

.vision-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  padding: 10px 22px;
}

.vision-description {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  padding: 10px 22px;
}

.card-icons {
  margin: 12px 32px;
}

.learn-more-btn{
  border-radius: 8px;
  background: rgb(84, 144, 245);
  margin: 10px 22px;
  padding: 11px 20px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600; 
  cursor:pointer;
}

.learn-more-1{
  background: rgb(84, 144, 245); 
}

.learn-more-2{ 
background: rgb(9, 161, 92); 
}

.learn-more-3{
  background: rgb(255, 194, 57);
}

.learn-more-1:hover{
  background: rgb(121, 137, 166); 
}

.learn-more-2:hover{ 
background: rgb(83, 140, 114); 
}

.learn-more-3:hover{
  background: rgb(194, 168, 108);
}


